1. Install pip: https://pip.pypa.io/en/stable/installing/

2. Install psycopg2:
sudo pip install psycopg2

3. Install sklearn:
sudo pip install -U scikit-learn

4. Install numpy:
sudo pip install numpy

5. Install Scipy:
sudo pip install Scipy

6. Install xlsxwriter:
sudo pip install xlsxwriter

7. Install pydotplus:
sudo pip install pydotplus


Don't forget to run postgresql connection


##########################################
FOR IMAGES:
??
8. sudo pip install opencv-python

9. sudo pip install imutils
??

10. sudo pip install virtualenv